// Place all the styles related to the connect4s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin-left: 30px;
}

td {
  width: 20px;
  text-align: center;
  font-size: 1.5em;
  a {
    background-color: #66f;
    color: #fff;
    display: inline-block;
    padding: 1px 4px;
    border-radius: 5px;
    text-decoration: none;
  }
  a:hover {
    background-color: #99f;
  }
}
